// _colors.scss
// Set color variables for site

$color-white: #ffffff;
$color-black: #000000;
$color-gray: #f8faff;

$color-blue-dark: #324b77;
$color-blue-middle: #55bada;
$color-blue-light: #8ba9c6;

$color-red: #f0717a;