// _page.scss
// Generic styles for the page layouts

.page {
    box-shadow: 0 -1px 0 rgba($color-blue-dark, .2);
    height: 600px;
    left: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
    @media (min-height: 550px) {
        height: 100vh;
        position: absolute;
    }

    &:nth-child(2) {
        @media (min-height: 550px) {
            top: 100vh;
        }
    }

    &:nth-child(3) {
        @media (min-height: 550px) {
            top: 200vh;
        }
    }

    &:nth-child(4) {
        @media (min-height: 550px) {
            top: 300vh;
        }
    }

    &.fixed {
        @media (min-height: 550px) {
            position: fixed;
            top: 0;
        }
    }

    &__inner {
        height: 100%;
        margin: 0 auto;
        max-width: 1440px;
        position: relative;
        width: 100%;
    }
}