// _page.scss
// Generic styles for the page layouts

.page {
    box-shadow: 0 -1px 0 rgba($color-blue-dark, .2);
    height: 100vh;
    left: 0;
    min-height: 500px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;

    &:nth-child(2) {
        top: 100vh
    }

    &:nth-child(3) {
        top: 200vh
    }

    &:nth-child(4) {
        top: 300vh
    }

    &.fixed {
        position: fixed;
        top: 0;
    }

    &__inner {
        height: 100%;
        margin: 0 auto;
        max-width: 1440px;
        position: relative;
        width: 100%;
    }
}