// _typography.scss
// Import fonts and set generic tag font styles

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800');

#app {

    * {
        font-family: 'Montserrat', sans-serif;
    }

    h1, h2 {
        color: $color-blue-dark;
        font-size: 24px;
        font-weight: 800;
    }
    
    h3, h4, h5, h6 {
        color: $color-blue-light;
        font-size: 13px;
        font-weight: 600;
    }

    p {
        color: $color-blue-dark;
        font-size: 13px;
        line-height: 2;
    }
}
